{
  "socketUrl": "http://localhost:3000",
  "orderQuantity": 13,
  "profitPercentageMinimum": 0.003,
  "loadingPricesInterval": 120,
  "arbitrageTotal": 10,
  "excludedPairs": [
    "BELBNB", "BELBTC", "BELUSDT", "BELBUSD"
  ]
}